/* GENERAL */

body{
    background-color: #0E4E9A;
    margin-left: 150px;
    margin-right: 150px;
}

/* HEADER */

.block1{
    display: flex;
    margin-top: 10px;
}
.header{
    display: flex;
    margin-left: 5px;
    width: 1300px;
    text-align: center;
    gap: 350px;
}

button{
    color: #fff;
    margin-top: 20px;
    font-size: 40px;
}




.footer{
    text-align: center;
    color: #fff;
}


