body{
    margin: 0px;
    padding: 0px;
    
}

/* #e86024 */
/* #042862 */
/* #0d4f9b */

.gauche
{
  display: flex;
  background-color: white;
}

.sanata
{
  background-color: white;
}

.haoua
{
  margin-left: 50px;
  border: 2px solid #0d4f9b;
  border-radius: 50px;
  width: 80px;
  height: 80px;
}

.geste
{
  background-color:#e86024;
  height: 50px;
  margin-right: 30px;
  border-radius: 5px;
}

.membr
{
  background-color:#0d4f9b;
  margin-right: 30px;
  border-radius: 5px;
  height: 50px;
}

.coti
{
  background-color:#e86024;
  margin-right: 30px;
  border-radius: 5px;
  height: 50px;
}
.forum
{
  background-color:#042862;
  border-radius: 5px;
}
.para
{
  font-weight: bold;
  font-size: 25px;
  color: white;
  text-align: center;
}
.graphe
{
  color: white;
  text-align: center;
  position: relative;
  bottom: 15px;
  font-weight: bold;
}